name: Linter

on:
  push:
  pull_request:

jobs:
  tests:
    name: Lint code
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        php: ['8.3']
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          tools: composer:v2
      - name: Install project dependencies
        run: |
          composer install
      - name: Run PHP Coding Standards Fixer tool
        run: |
          php ./vendor/bin/php-cs-fixer fix --dry-run --config=.php-cs-fixer.dist.php
      - name: Run phpstan
        run: |
          php ./vendor/bin/phpstan analyse src
      - name: Run Psalm
        run: |
          php ./vendor/bin/psalm
