name: Linter

on:
  push:
  pull_request:

jobs:
  php-cs-fixer:
    name: PHP CS Fixer
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer:v2
      - name: Install project dependencies
        run: composer install
      - name: Run PHP CS Fixer
        run: php ./vendor/bin/php-cs-fixer fix --dry-run --config=.php-cs-fixer.dist.php

  phpstan:
    name: PHPStan
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer:v2
      - name: Install project dependencies
        run: composer install
      - name: Run PHPStan
        run: php ./vendor/bin/phpstan analyse src

  psalm:
    name: Psalm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          tools: composer:v2
      - name: Install project dependencies
        run: composer install
      - name: Run Psalm
        run: php ./vendor/bin/psalm
